<a href="https://colab.research.google.com/github/zzwony/Start_0920/blob/main/12_19_%ED%86%B5%EA%B3%841.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

확률의 수학적 정의와 의미
- 표본공간 과 확률표본
 * 확률표본 또는 표본은 풀고자 하는 문제에서 발생할 수 있는 하나의 현상 혹은 선택될 수 있는 하나의 경우를 말한다.
 * 표본공간은 가능한 모든 표본의 집합을 말하며 고려하는 범위에서 어떤 표본(경우, 현상)이 가능하고 어떤 표본이 가능하지 않은가를 정의하는 작업. 표본공간 = {H,T}, (표본 : H(동전의 앞면), T(동전의 뒷면))
 * 사건은 표본공간의 부분집합, 즉 전체 표본공간 중에서 관심을 가지는 일부 표본의 집합
 
확률
- 확률이란 사건(부분집합)을 입력하면 숫자(확률값)가 출력되는 함수
- 모든 각각의 사건(부분집합)에 어떤 숫자를 할당하는 함수
- 확률은 표본이 아닌 사건을 입력으로 가지는 함수

확률의 의미
- 빈도주의 관점 : ***반복적***으로 선택된 표본이 사건(부분집합) A의 원소가 될 경향. 동전을 던져 앞면이 나오는 사건의 확률값은 0.5
- 베이지안 관점 : 선택된 표본이 ***특정한 사건(부분집합)에 속한다는 가설***,명제 혹은 주장의 신뢰도로 반복이라는 개념은 사용되지 않음. 새가 날수 있는 가능성은 95%. '앞면이 나왔다'는 주장의 신뢰도가 0.5%
 * 베이지안 확률론에서 사건이 일어났다 혹은 발생했다하는 말은 그 사건의 원소 중에 정말로 선택된 표본이 있다는 사실을 알게 되었다는 것을 말한다.
 
확률의 성질
- 공집합의 확률 : 공집합인 사건의 합은 0이다. P(0) = 0
- 여집합의 확률 : 어떤 사건의 여집합인 사건의 확률은 1 - 원래 사건의 확률 과 같다.
- 포함-배제 원리 : 두 사건의 합집합의 확률은 각 사건의 확률의 합에서 두 사건의 교집합의 확률을 뺀 것과 같다.
- 전체 확률의 법칙 : 생일이 1월인 남자라는 사건의 확률과 생일이 2월인 남자라는 사건의 확률, 이외에도 각각의 월을 생일로 가지는 남자라는 사건들의 확률을 모두 합하면 남자라는 사건의 확률이 된다. 각각의 월에 있는 남자의 생일이 서로 공통 원소가 없음

확률분포함수
- 확률이 어디에 어느 정도 분포되어 있는지를 수학적으로 명시하고 전달하는 도구
- 만약 표본의 개수가 무한하다면 현실적으로 모든 사건을 하나 하나 기술하는 것은 불가능하며 확률분포함수를 이용하여 이 문제를 해결
 * 확률질량함수 : 유한 개의 사건이 존재하는 경우 각 단수사건에 대한 확률만 정의하는 함수
    - 예) 주사위처럼 1이면 1 6이면 6으로 딱딱 끊을 수 있는것
 * 누적분포함수 : 시작점을 모두 똑같이 음의 무한대로 통일한 특수한 구간을 사용하는 사건의 확률분포를 묘사하는 함수
 * 확률밀도함수 : 누적분포함수를 미분하여 구한 도함수를 의미하며 특정한 구간의 확률이 다른 구간에 비해 상대적으로 얼마난 높은가를 나타내는 것이며 그 값 자체가 확률은 아니다.
   - 예) 몸무게 범위를 볼때 51,52,52.4 등등 딱딱 끊을 수 없어서 50~60 사이의 범위가 나올 활률로 본다.

확률변수
 - 확률적인 숫자 값을 출력하는 변수

#### 추측통계
확률을 사용하여 모집단의 통계적 성질을 추측하는 기법

[모집단 분포와 표본분포]  

- 모집단: 어떤 통계적 실험의 대상이 되는 모든 대상물. ex. 대한민국 모든 남성의 키 데이터, 2018 수능점수 데이터
- 모집단 분포: 모집단은 데이터 집단이므로 어떠한 분포를 이루며 이 데이터가 이루는 확률 분포가 모집단 분포
- 모수: 모집단의 특성을 나타내는 수치로 모평균,모분산,모표준편차,모비율,모상관관계 등  
  수능점수 전체데이터를 알고 싶은 것이 아니라 전체 수능점수 평균, 표준편차를 알고 싶어한다.
  수능점수와 달리 일반적으로 대부분의 모집단 분포는 완전하게 알려진 것이 없으며 전수조사는 경제적, 공간적, 시간적 제약으로 인해 거의 불가능
- 표본: 모집단의 모수(특성)을 알기 위하여 표본을 추출해서 모집단의 모수를 추정
- 확률표본:  모집단을 구성하는 모든 구성원이 표본으로 뽑힐 확률을 동일하게 하여 추출한 표본. Random이란 무작위라는 의미로, 어떠한 의도를 가지지 않는다는 것을 의미하며, 모든 구성원이 뽑힐 확률이 동일하다는 개념. 
- 통계량: 확률표본의 특성을 설명하는 값으로 표본평균, 표본분산, 표본표준편차, 표본비율, 표본상관관계 등  
  모수는 모집단이 변하지 않기 때문에 그 값이 변하지 않으나 통계량은 표본을 어떻게 추출하느냐에 따라서 그 값이 다르게 나타난다.
- 확률변수: 무작위 실험을 했을 때 특정 확률로 발생하는 각각의 결과를 수치값으로 표현한 변수. 동전의 앞과 뒤
- 확률분포: 확률변수 X의 모든 값과 그 에 대응하는 확률값들의 분포. 동전의 앞 0.5, 뒤 0.5 
- 무작위로 표본 30개씩 반복해서 100번 추출하면 100번 추출한 표본 30개의 평균값들을 100개 구할 수 있다. 추출된 표본들의 각 평균값들에 대한 발생 분포를 그려보면 특정 확률변수에 대응하는 확률을 가진 확률 분포를 그릴 수 있다. 이것을 통계량의 확률분포라고 할 수 있고 이를 표본분포라고 부른다. 
- 통계량이 확률 변수라는 의미: 확률변수의 확률분포가 수학적으로 설명가능한 분포(예, 정규분포)를 따른다고 하면 특정 확률변수와 확률함수를 알고 있다면 특정 사건이 일어날 확률을 계산할 수 있으며 더 나아가 모수와 통계량의 관계를 알고 있다면 그것을 통해 모수에 대한 통계적인 추정을 할 수 있다. 즉 통계량의 확률 함수 또는 표본 분포를 안다고 가정하면 이를 이용해 모수를 추정할 수 있다.
(모수를 추정하면 모집단을 설명할 수 있다.)
----

[표본통계량 성질]

- 샘플사이즈가 크면 표본평균은 모평균에 가까워진다.
- 샘플사이즈가 커질수록 표본평균의 표준편차가 작아짐. 샘플사이즈를 크게 하면 흩어짐이 적은 신뢰할 수 있는 표본평균을 얻을 수 있다.
- 표준오차는이론상 표본평균의 표준편차 크기인데 샘플사이즈가 커지면 표준오차는 작아짐
- 모분산은 0.64, 표본분산의 평균값은 0.575로 분산이 과소평가되어짐 -> 불편분산을 사용, 편향을 제거(ddof =1)
- 샘플사이즈가 커질수록 불편분산은 모분산(0.64)에 가까워짐
- 불편성 : 추정량의 기댓값이 진짜 모수(모집단의 파라미터)가 되는 특성. 편향이 없는 추정량 (이게 있으면 좋다)
- 일치성 : 샘플사이즈가 커지면 추정량이 진짜 모수에 가까워지는 특성 (굉장히 중요한 특성)
- 표본평균과 불편분산은 둘다 불편성을 가지고 있다고 할 수 있다.
- 샘플사이즈를 크게 하면 표본평균은 모평균에 가까워지고 불편분산은 모분산에 가까워지므로 일치성을 가짐
- 큰수의 법칙 : 표본의 크기가 커지면 표본평균이 모평균에 가까워지는 방법을 표현한 법칙
- 중심극한정리 : 모집단분포가 무엇이든지간에 샘플사이즈가 커지면 표본 평균들이 이루는 분포가 모집단의 평균μ, 표준편차σ/sqrt(n)인 정규분포에 가까워진다는 정리
(아주 중요)  
  https://drhongdatanote.tistory.com/57
----

[표본분산이 분산을 과소평가하는 이유]

- 분산은 '데이터와 평균값의 간의 거리' 이므로 모평균 간의 거리를 계산 : np.sum((fish_data - mu)**2)/N  
호수안에 물고기가 7마리 있다. 몸길이 {1,2,3,4,5,6,7}, 모평균 4,  
샘플링 3마리 {1,2,3} 표본평균 2  
이때 분산은 모평균을 모르기 때문에 표본평균과의 거리를 계산하며 분산을 과소평가 하게된다.
- 표본 분산 보다 조금 더 큰 값이 되도록 보정하기 위하여 N 대신 N-1로 나누어 불편분산을 구할 수 있다.
----

[통계량 선정시 평가기준]

- 불편성: 표본으로부터 구한 통계량의 기대치가 추정하려 하는 모수의 실제 값에 같거나 가까워지는 성질을 의미
- 효율성: 모수 추정시 분산이 작을수록 모수를 정확하게 추정할 가능성이 높다.
- 일치성: 표본의 크기가 커감에 따라서 표본의 통계량이 모집단의 모수와 일치하는 것을 의미
- 충분성: 동일한 표본으로부터 얻은 추정량이 모집단의 모수에 대한 정보를 더 많이 제공하는 것을 의미
----

[정규분포]  
https://quickdata.tistory.com/26  
https://math100.tistory.com/40  
정규분포는 연속확률분포로서 가장 자주 쓰이는 확률분포입니다. 모양은 평균을 중심으로 하나의 봉우리형태를 띄며 한 집단의 많은 사람들의 키, 몸무게, 시험성적 등의 데이터에 잘 나타나는 분포

- 누적분포함수 : 확률분포에서 얻은 확률변수 3 이하가 되는 확률. Cumulative density function
 - stats.norm.cdf(loc = 4, scale = 0.8, x = 3)
- 정규분포의 확률밀도 계산
 - 확률변수 3일때의 확률밀도 N(3|4,0.8**2)
 - stats.norm.pdf(loc = 4, scale = 0.8, x = 3)  Probability density function
- 하측확률 : "확률변수 x가 N보다 낮을 확률은 M퍼센트다" 에서 N을 고정하고 M을 구하는 경우
 - 이때의 M이 하측확률이며 M(확률)을 고정하고 N(변수)을 구하는 경우 이때의 N이 퍼센트포인트 하측확률이 2.5%가 되는 퍼센트포인트
 - stats.norm.ppf(loc = 4, scale = 0.8, q = 0.025) Percent point function
- stats.norm.pdf(x=x)로 하여 loc와 scale을 지정하지 않을 경우 표준정규분포가 됨. probability density function
- stats.norm.rvs() 함수는 정규확률분포로부터 난수 생성. Random variates
- t분포의 의미 : 모분산을 모르는 상황에서도 표본평균의 분포에 대해 애기할 수 있으며
 - t분포를 만들 때 표본에서 계산한 포준오차로 표본평균을 표준화함
 - 표본에서 계산한 표준오차로 표본평균을 표준화했을 경우의 결과가 t분포를 따른다는 사실을 이용하면 얻어낸 표본평균에 관한 불확실성을 짐작할 수 있음.
----

[t분포의 특성]

t분포는 모집단이 정규분포 이더라도 분산 σ²이 알려져 있지 않고 표분의 수가 적은 경우에, 평균 μ에 대한 신뢰구간 추정 및 가설검정에 아주 유용하게 쓰이는 분포
1. t분포는 표준정규분포처럼 0을 중심으로 종형의 모습을 가진 대칭 분포이다.
2. t분포의 꼬리는 표준정규분포보다 두껍다(fat tail).
3. t분포는 자유도 n에 따라 모습이 변하는데, 자유도 n이 커짐에 따라 표준정규분포 N(0,1)에 수렴한다.  
통상 모집단의 분산이 알려져 있지 않은 경우, 표분분포를 결정할 때 표본의 크기가 30 이하이면 t분포를, 그 크기가 30 이상이면 표준정규분포를 이용

In [ ]:
import numpy as np
import pandas as pd

fish_data = np.array([2,3,3,4,4,4,4,5,5,6])
fish_data

array([2, 3, 3, 4, 4, 4, 4, 5, 5, 6])

In [ ]:
np.sum(fish_data)

40

In [ ]:
len(fish_data)

10

In [ ]:
# 평균
N = len(fish_data)
sum_value = np.sum(fish_data)
mu = sum_value/N
mu

4.0

In [ ]:
np.mean(fish_data)

4.0

In [ ]:
np.mean(fish_data)

4.0

In [ ]:
# 표본분산
sigma_2_sample = np.sum((fish_data - mu) **2)/N   ## 흩어짐의 정도에 따른 합계
sigma_2_sample

1.2

In [ ]:
np.var(fish_data)

1.2

In [ ]:
np.std(fish_data)

1.0954451150103321

In [ ]:
np.var(fish_data, ddof=0)  ## 기본분산을 구할땐 ddpf=0, 불편분산을 구할때는 ddof=1

1.2

In [ ]:
np.std(fish_data, ddof=0)

1.0954451150103321

In [ ]:
# 불편분산
np.var(fish_data, ddof=1)

1.3333333333333333

In [ ]:
np.std(fish_data, ddof=1).round(2)
std2 = np.std(fish_data, ddof=1)
np.round(std2, 2)

1.15

In [ ]:
# Q. a의 평균, 분산, 표준편차, 편차의 평균을 구하기
a = np.arange(15)
print(a)

m = np.mean(a)
v = np.var(a, ddof=1)
s = np.std(a, ddof=1)
print('m:', m)
print('v:', v)
print('s:', s)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
m: 7.0
v: 20.0
s: 4.47213595499958

In [ ]:
from scipy import stats  
stats.scoreatpercentile(fish_data, 25)   ## 1사분위

3.25

In [ ]:
from scipy import stats
stats.scoreatpercentile(fish_data, 50)

4.0

In [ ]:
from scipy import stats
stats.scoreatpercentile(fish_data, 75)  ## 3사분위

4.75

In [ ]:
fish_data2 = np.array([2,3,3,4,4,4,4,5,5,6,100])  ## 100이 있어서 평균이 확 올라갔다.
print(fish_data2)
print('평균:', fish_data2.mean().round(2))
print('중앙값:', np.median(fish_data2))

[  2   3   3   4   4   4   4   5   5   6 100]
평균: 12.73
중앙값: 4.0

중앙값과 평균값의 차이가 많이 나면 이 데이터는 일반적이지 않다.

통계적으로 이상치라고 생각되는 것을 확인해봐야한다.

- 그룹별 통계량: mean(), std(), describe()  ## describe는 요약
- 교차분석표: pivot_table()
- 깔끔한 데이터: 행 하나에 1개의 결과가 있도록 정리. 교차분석표는 행이 변수의 의미를 갖는 경향이 있다.
- 공분산:
  - 공분산: 2개의 연속형 변수의 관계성을 확인하는 통계량
  - 공분산이 0보다 클 때: 변수 한쪽이 큰 값을 갖게 되면 다른 한 쪽도 커짐
  - 공분산이 0보다 작을 때: 변수 한쪽이 큰 값을 갖게 되면 다른 한 쪽도 작아짐
  - 공분산이 0일 떄: 변수 사이에 관계성이 없음
  - 공분산은 편리한 지표지만 최대값이나 최소값이 얼마가 될 지 알 수가 없으며
  - 단위가 cm 에서 m으로 변하면 공분산의 값도 변함. 사용이 편하도록 -1 ~ +1 의 범위로 보정
- 피어슨 상관계수: 공분산을 최대값 1, 최솟값 -1 사이가 되도록 표준화
  - cov / sp.sqrt(sigma_2_x*sigma_2_y)
  - 상관행렬: 여러 변수의 상관계수들을 행렬 형태로 정리
  - 상관계수가 무의미할 때: 상관계수가 0에 가까운 값을 가질 대는 실제 그래프로 관계를 확인

In [ ]:
import pandas as pd
fish_multi = pd.read_csv('/content/drive/MyDrive/5_2_fm.csv')
fish_multi

  species  length
0       A       2
1       A       3
2       A       4
3       B       6
4       B       8
5       B      10

In [ ]:
fish_multi.shape

(6, 2)

In [ ]:
# 그룹별 통계량 계산
group = fish_multi.groupby('species')
print(group.mean())
print(group.std(ddof=1))  ## 불편분산을 적용
group.describe()

         length
species
A           3.0
B           8.0
         length
species
A           1.0
B           2.0

        length
         count mean  std  min  25%  50%  75%   max
species
A          3.0  3.0  1.0  2.0  2.5  3.0  3.5   4.0
B          3.0  8.0  2.0  6.0  7.0  8.0  9.0  10.0

In [ ]:
cov_data = pd.read_csv('/content/drive/MyDrive/4_cov.csv')
cov_data

      x   y
0  18.5  34
1  18.7  39
2  19.1  41
3  19.7  38
4  21.5  45
5  21.7  41
6  21.8  52
7  22.0  44
8  23.4  44
9  23.8  49

In [ ]:
# 공분산 행렬
import scipy as sp
import numpy as np

np.cov(cov_data.x, cov_data.y, ddof=1)

array([[ 3.64622222,  7.67333333],
       [ 7.67333333, 28.01111111]])

In [ ]:
# 상관 행렬
np.corrcoef(cov_data.x, cov_data.y)

array([[1.       , 0.7592719],
       [0.7592719, 1.       ]])

상관관계가 꽤 높게 나왔다.

In [ ]:
# 상관 계수: df.corr()
cov_data.corr()

          x         y
x  1.000000  0.759272
y  0.759272  1.000000