In [21]:
a = []
for i in range(0, 10 + 1):
        a.append(i)

print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
[i for i in range(0, 10 + 1)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

위에와 아래는 완전히 같은 방식이다.

밑에처럼 쓰게 된다면 3줄을 단 1줄로 줄일 수 있다.

In [42]:
#sort()와 sorted()의 차이점

a = [1,3,4,2]

a.sort()
a.reverse()
a

[4, 3, 2, 1]

a = [1,3,4,2]

- a.sort()
- a.reverse()
- sort는 a에 저장하는 것이지만

sorted(a)로 바꾸면 a에 저장되지 않는다.

In [44]:
###########################################

## 이스케이프 문자

In [50]:
print("Life is short. You need Python.")

Life is short. You need Python.

In [51]:
print("Life is short. \nYou need Python.")

Life is short.
You need Python.

문자열을 벗어난다. 탈출한다. 그래서 이스케이프 문자이다.

In [54]:
print("Life is short. \tYou need Python.")
print("Life is short. \t\t\t\tYou need Python.")

Life is short. 	You need Python.
Life is short. 				You need Python.

In [57]:
print('그가 나에게 "사랑해요" 라고 말했다.')

그가 나에게 "사랑해요" 라고 말했다.

In [59]:
print("그가 나에게 \"사랑해요\" 라고 말했다.")

그가 나에게 "사랑해요" 라고 말했다.

역슬레쉬는 이스케이프 이다.

- list comprehension

In [64]:
a = [1,2,3,4]
b = []  # 빈 리스트
for i in a : 
    b.append(i*3)  # 가급적 숫자로 시작하지 않게 하기 위해서 뒤에다가 쓴다.
b

[3, 6, 9, 12]

In [65]:
a = [1,2,3,4]
[i*3 for i in a]

[3, 6, 9, 12]

위와 같은 방법이다.

## while

In [66]:
i = 0
while i < 10: 
    print(i)      # i가 10보다 작을때 i를 출력하라
    i += 1

0
1
2
3
4
5
6
7
8
9

In [67]:
i = 0
while i < 10: 
    print(i, end = ", ")
    i += 1

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [70]:
# break

import time
i = 0
while True: 
    print(i, end = ", ")
    i += 1 
    time.sleep(1)                     # 1초동안 잠깐 멈춰라_ 설정하면 1초에 하나씩 출력된다.

0, 1, 2, 3,

KeyboardInterrupt:

In [71]:
# break

import time
i = 0
while True: 
    print(i, end = ", ")
    i += 1 
    time.sleep(1)
    if i == 10 :        # i가 10이 되면 멈춰라
        break
        
print("끝")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 끝

In [82]:
# 1부터 10까지의 합을 while 문으로 나타내기.

i = 0
sum = 0      # 먼저 변수 장만하기.

while i < 10 :   # while을 if라고 생각해주기.
    i += 1 
    sum += i  # sum은 i 만큼씩만 더해주기.
    
print(sum)

55

In [84]:
# 조건 걸어보기.
# 1부터 10까지 3의 배수만 합을 while 문으로 나타내기.

i = 0
sum = 0

while i < 10 :
    i += 1
    if i % 3 == 0:
        sum += i 

    
print(sum)

18

## continue 사용법

In [91]:
i = 0
while i < 10 :
    i += 1  
    if i % 3 == 0:    #이 조건을 충족하면 루프처럼 쭉 도는게 아니라 조건까지 멈추고 다음을 실행한다.
        continue
    print(i)

1
2
4
5
7
8
10

결과적으로 3의 배수는 빠지게 되었다.

In [93]:
# 3의 배수가 아닌 수의 합 (1부터 10까지)을 구하여라.

i = 0
sum = 0

while i < 10 :
    i += 1  
    if i % 3 == 0: 
        continue
    sum += i
        
print(sum)

37

In [97]:
import random

In [113]:
random.randint(1, 10)   # 1부터 10까지 랜덤 숫자.

5

In [115]:
i = random.randint(1, 10)

In [177]:
# 7보다 작은 수들의 합
i = 0
sum = 0

while True:
    i = random.randint(1, 10)  # 돌때마다 i값은 랜덤하게 돈다.
    if i > 7 :
        continue
        
    sum += i
    if sum > 100:
        break
    
print(sum)

102

In [193]:
# 3의 배수 또는 5의 배수의 합(10이하의 수까지)

i = 0
sum = 0

while i < 10 :
    if i % 3 == 0 or i % 5 == 0:
        sum += i    
    else:
        pass
    i += 1
        
print(sum)

23

```
############################################
treeHit = 0
while treeHit < 10:
    treeHit = treeHit +1
    print(f"나무를 {treeHit}번 찍었습니다." )
    if treeHit == 10:
        print("나무 넘어갑니다.")
        

변수로 나타내주려고 하는것 {}표시와 앞에 잊지 말기!
#############################################
```

# 함수
```
def 함수이름( , ) : 
   실행할 문장
   return 변수

```

In [199]:
def add(a, b):
    c = a + b
    return c   # c에게 정의를 내려줌

In [201]:
add(1, 2)   # 쉽게 함수가 만들어졌다.

3

- 입력값이 한 개인 경우

In [208]:
# 입력받은 값을 2배해서 내놓는 함수 twice
def twice(a):
    b = 2*a
    return b

In [207]:
twice(4)

8

In [209]:
def twice(a):
    b = 2*a
    return b

def twice(a):
    return 2*a

- 입력값이 없는 경우도 출력 가능하다.

In [210]:
def add():
    a = 10
    b = 20
    return a+b

In [211]:
add()

30

In [219]:
# 홀수이면 2배, 작수이면 나누기 2를 해서 리턴하는 함수.
#def odd_even(a):
#b = 2*a


def odd_even(a):
  if a % 2 != 0:
    return 2*a
  else:
    return a/2

In [220]:
odd_even(3)

6

- 리턴값이 2개 이상일 수 있다.

In [221]:
def add():
    a = 10
    b = 20
    return a + b, a-b

In [222]:
add()

(30, -10)

In [227]:
a = add()
a

(30, -10)

a가 하나여서 하나로 묶여버림(튜플)

In [228]:
a = add()
print(a)

c, d = add()
print(c)
print(d)

(30, -10)
30
-10

- 기본값(디폴트 값)이 있는 경우

In [231]:
 def add(a, b, c = 100):
    result = a + b + c
    return result

In [234]:
add(1, 2)

103

In [235]:
add(1, 2, 3)

6

In [236]:
add(a = 1, b = 2, c = 3)

6

- 기본값은 맨 뒤에 정의된다. - 이따가 찾아보기

- 입력값이 여러개인 경우

In [251]:
def add(*args):      # 여러개를 받으려면 앞에 *표시를 해야한다.
    sum = 0
    for i in args:
        sum += i
    return sum

In [250]:
add(1,2,3,4)

10

In [252]:
# 1부터 입력받은 수까지의 합
num = int(input("숫자를 입력해주세요."))
sum = 0
for i in range(num +1):
    sum += i
print(sum)

숫자를 입력해주세요. 100

5050

In [253]:
def add(num):
    sum = 0
    for i in range(num +1):
        sum += i
    return sum

In [254]:
add(10)

55

In [265]:
# 두 수를 입력받아서.. 합은?

def two_sum(a, b):
    sum = 0
    for i in range (a, b+1):
        sum += i
    return(sum)

In [267]:
two_sum(1,3)

6

- return과 print의 차이

In [268]:
def func_r(a):
    return(a*2)

def func_p(a):
    print(a*2)

In [270]:
func_r (3)

6

In [271]:
func_p(3)

6

In [274]:
b = func_r(3)
b/2

3.0

In [275]:
b = func_p(3)
b/2

6

TypeError: unsupported operand type(s) for /: 'NoneType' and 'int'

In [276]:
type(b)

NoneType

왜 오류가 뜨는가?
print는 b로 들어가는게 아니라 화면에 출력하고 끝난것임.

그렇다며 b는 아무것도 없기 때문에 오류가 뜨는것임.

In [277]:
b = func_p(3)
print("...")
print(b)
b/2

6
...
None

TypeError: unsupported operand type(s) for /: 'NoneType' and 'int'

p155 책에서 a 변수에 None을 돌려준다. 라는 뜻임
(쉽게 말해서 print는 화면에 띄어주기만 하기 때문에
 return을 사용해야 한다는 뜻)

In [279]:
def kw_test(**kwargs):
    print(kwargs)

In [280]:
kw_test(a = 1, b = 2)

{'a': 1, 'b': 2}

딕셔너리와 같은 것임

In [284]:
def kw_test(*kwargs):
    print(kwargs)

In [285]:
kw_test(1, 2, 3, 4)

(1, 2, 3, 4)

```
myself("홍길동", 20)

나의 이름은 홍길동이고 나이는 20세 입니다.
```

In [296]:
myself("홍길동", 20)
def myself(name, age):
    print(f'나의 이름은 {name}이고, 나이는 {age}입니다.')

나의 이름은 홍길동이고, 나이는 20입니다.

In [306]:
d = 5     # global: 전역변수
def add(a, b):
    c = a + b    # Local : 지역변수
    
    return c+d
add(1, 2)
#print(d)

8

### 람다함수

In [307]:
def add(a,b):
    return a+b
add(1,2)

3

In [308]:
(lambda a, b: a+b)(1,2)

3

많이 쓰이기 때문에 기억해두기.

이름 지어주기 싫으면 람다 사용하기

In [309]:
f = lambda a, b: a+b
f(1,2)

3

- 재귀함수

자기 안에 자기 자신이 들어가 있는 함수

In [316]:
import time
def hello():
    print("안녕하세요")
    time.sleep(1)
    return
    hello()

In [317]:
hello()

안녕하세요

In [326]:
import time
def hello(count):
    if count == 0 :
        return
    print("안녕하세요")
    time.sleep(1)
    count -= 1
    hello(count)

In [327]:
hello(3)

안녕하세요
안녕하세요
안녕하세요