# 파일 입출력
## 파일 쓰기

In [8]:
f = open('new.txt', 'w')  #'new.txt'를 f라는 오브젝트에 할당한것
f.write('Hello')          # 할당 되었기 때문에 똑같이 메소드 사용 가능
f.close()                 # close() 열어서 객체를 만들었으니 꼭 닫아줘야한다.
                          # 이것이 전형적인 형태이다.

```
r : read
w : write
a : append

b : binary : 텍스트가 아닌 모든것 (음악, 사진, 동영상)

가장 많이 씀 -> wb : 텍스트가 아닌 것을 저장할때 합쳐서 쓴다.
```

In [6]:
type(f)

_io.TextIOWrapper

쓰기 객체라고 나와있는것이다.

In [1]:
f = open('new.txt', 'a')    # 전의 입력값을 남겨준다.
f.write('\nGood Morning')   # \n으로 띄어쓰기를 해줌.     
f.close()

In [2]:
f = open('new.txt', 'w')
f.write('Hello \n')
f.write('Good Morning \n')
f.write('Good Afternoon')        
f.close()

In [132]:
f = open('new.txt', 'w')
for i in range(10):
    f.write(f'{i} \n')        
f.close()

In [133]:
f = open('new.txt', 'w')
for i in range(10):
    f.write(f'{i} \n')        
f.close()

In [134]:
f = open("new.txt", 'a')
for i in range(10):
    f.write(f"Good Morning\n")
f.close()

- with open() as f: 

  정해진 형태임

In [26]:
f = open('new.txt', 'w')  
f.write('Hello \n')         
f.close()

In [27]:
with open('new.txt', 'w') as f:
    f.write('Hello \n')

In [29]:
f = open("new.txt", 'w')
for i in range(10):
    f.write(f"Good Morning\n")
f.close()

In [39]:
with open("new.txt", 'a') as f:
     for _ in range(10):
            f.write("Good Morning\n")
    # 최종적으론 이렇게 쓴다.

## 파일 읽기

- f.readline()

In [41]:
with open("new.txt", "w") as f:
    f.write("Hello \n")

In [42]:
f = open('new.txt', 'r')
data  = f.readline()  # 한 줄만 읽어온다.
print(data)
f.close()

Hello

In [46]:
with open("new.txt", 'a') as f:
     for _ in range(10):
            f.write("Good Morning\n")

In [43]:
f = open('new.txt', 'r')
data  = f.readline() 
print(data)
f.close()

Hello

In [45]:
with open('new.txt', 'r') as f:
    data = f.readline()
    print(data)  # f.close 안쓴거지 위에랑 같음.

Hello

- f.readlines()

In [48]:
f = open('new.txt', 'r')
data  = f.readlines()        # 여러 줄을 출력한다. 
print(data)
f.close()

['Hello \n', 'Good Morning\n', 'Good Morning\n', 'Good Morning\n', 'Good Morning\n', 'Good Morning\n', 'Good Morning\n', 'Good Morning\n', 'Good Morning\n', 'Good Morning\n', 'Good Morning\n']

In [57]:
f = open('new.txt', 'r')
data  = f.readlines()       
for i in data:
    print(i)
    
f.close()

Hello

Good Morning

Good Morning

Good Morning

Good Morning

Good Morning

Good Morning

Good Morning

Good Morning

Good Morning

Good Morning

In [55]:
f = open('new.txt', 'r')
data  = f.readlines()       
for i in data:
    print(i, end="")  # 기본값이 마지막에 띄어쓰기가 있기 때문임.
    
f.close()

Hello
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning

- f.read()

# 문제

```
test.txt

1번째 입니다.
2번째 입니다.
3번째 입니다.
4번째 입니다.
5번째 입니다.
6번째 입니다.
7번째 입니다.
8번째 입니다.
9번째 입니다.
10번째 입니다.
```

In [86]:
with open('test.txt', 'w', encoding = 'utf-8' ) as f:
    for i in range(10):
        f.write(f'{i}번째 입니다. \n')

- readlines()로 읽기

In [87]:
with open('test.txt', 'r', encoding = 'utf-8' ) as f:
    data = f.readlines()
    for i in data:
        print(i)

0번째 입니다.

1번째 입니다.

2번째 입니다.

3번째 입니다.

4번째 입니다.

5번째 입니다.

6번째 입니다.

7번째 입니다.

8번째 입니다.

9번째 입니다.

In [96]:
with open('test.txt', 'r', encoding = 'utf-8' ) as f:
    data = f.readlines()
    for i in data:
        i = i.strip()   # 역슬래쉬를 제거하고 i에 다시 저장함.
        print(i)

0번째 입니다.
1번째 입니다.
2번째 입니다.
3번째 입니다.
4번째 입니다.
5번째 입니다.
6번째 입니다.
7번째 입니다.
8번째 입니다.
9번째 입니다.

함수 show_file("one_txt")

show_file("test.txt") 라고 입력하면 위에처럼 출력되는게 목표.

In [98]:
def show_file(filename):
    with open('test.txt', 'r', encoding = 'utf-8' ) as f:
        data = f.readlines()
        for i in data:
            i = i.strip() 
            print(i)
show_file('test.txt')

0번째 입니다.
1번째 입니다.
2번째 입니다.
3번째 입니다.
4번째 입니다.
5번째 입니다.
6번째 입니다.
7번째 입니다.
8번째 입니다.
9번째 입니다.

- 이름과 나이를 입력받아 파일 이름은 people.txt로 만들자.
- while 문을 써서 엔터(빈칸)을 입력하면 while문이 종료.
- f.write(name + ":" + age + '\n')
```
홍길동 23
전우치 20
 ---
```

In [135]:
with open('pra', 'w', encoding = 'utf-8') as f:
    while True:
        name = input('이름을 입력하세요.')
        age = input('나이를 입력하세요.')
        f.write(name + ':' + age + '\n')
        if name == "":
            break

이름을 입력하세요. 홍길동
나이를 입력하세요. 23
이름을 입력하세요. 전우치
나이를 입력하세요. 20
이름을 입력하세요.
나이를 입력하세요.

# 클래스
완성분의 80%만 만들어주는것

In [149]:
result = 0

def add(num):
    global result     # global 이라는 것은 외부에서 변수를 받는 역할을 한다.
    result += num
    return result     # 여기까지는 더하기 기능만 있음

In [141]:
add(3)

3

In [142]:
add(4)

7

In [148]:
result = 0
result1 = 0
result2 = 0

def add(num):
    global result
    result += num
    return result

def add1(num):
    global result1
    result1 += num
    return result1

def add2(num):
    global result2
    result2 += num
    return result2

In [144]:
add(3)

3

In [145]:
add(4)

7

In [146]:
add1(5)

5

In [147]:
add1(6)

11

하지만 이렇게 하면 지금은 코드가 짧아서 그렇지 길어지면 수정하기 어렵다.

In [150]:
result = 0


def add(num):
    global result
    result += num
    return result

def subtract(num):
    global result
    result -= num
    return result

In [151]:
result1 = 0

def add1(num):
    global result1
    result1 += num
    return result1

def subtract(num):
    global result1
    result1 -= num
    return result1

In [152]:
result2 = 0

def add2(num):
    global result2
    result2 += num
    return result2

def subtract(num):
    global result2
    result2 -= num
    return result2

In [153]:
add2(5)

5

In [154]:
subtract(3)

2

## 클래스의 필요성

In [162]:
result2 = 0

def add2(num):
    global result2
    result2 += num
    return result2

def subtract(num):
    global result2
    result2 -= num
    return result2
##########################

class Calculator:              #Calculator는 첫번째는 대문자!
    def __init__(self):        #언더바는 앤 특별하다는 뜻, self는 무조건 써줘야함.
        self.result = 0
        
    def add(self, num):       #num은 혼자임에도 불구하고 무조건 self를 써줘야 한다.
        self.result += num    # 변수 앞에 무조건 붙여주기
        return self.result
    
    def subtract(self, num):
        self.result -= num
        return self.result
    
    def multiply(self, num):
        self.result *= num
        return self.result

In [163]:
pos = Calculator()          # 위에 설계도를 이용하여 pos라는 오브젝트가 만들어짐.

In [157]:
pos.add(3)

3

In [158]:
pos.add(4)

7

In [159]:
pos.subtract(2)

5

In [165]:
pos1 = Calculator()    # 새로운 pos가 만들어짐

## 클래스 만들기

In [166]:
class FourCal:
    pass

In [167]:
class FourCal:
    def setdata(self, a, b):
        self.first = a
        self.second = b

In [168]:
cal = FourCal()

In [169]:
cal.setdata(1)

TypeError: FourCal.setdata() missing 1 required positional argument: 'b'

2개를 넣어야지 오류가 안남.

In [170]:
cal.setdata(1, 2)

In [171]:
cal.first

1

In [172]:
cal.second

2

```
객체 : object, instance, 오브젝트, 인스턴스

객체는 2개를 가지고 있는데
표현하자면 하나는 동사이고 하나는 형용사이다.

car: car.go(), car.back(), car.turn()
     car.color, car.size
    
bird: bird.fly(), bird.sing()
      bird.color
이런 차이이다.

동사 : 매소드, method
형용사 : 속성, 애트리뷰트, attribute
동사는 ()가 있고 형용사는 ()가 없다.
```

In [176]:
class FourCal:
    def setdata(self, a, b):
        self.first = a
        self.second = b
        
    def add(self):
        self.result = self.first + self.second
        return self.result
    
    def subtract(self):
        self.result = self.first - self.second
        return self.result

In [177]:
cal = FourCal()

In [179]:
cal.setdata(1,2)
cal.first

1

In [181]:
cal.add()

3

In [182]:
cal1 = FourCal()

In [183]:
cal1.add()

AttributeError: 'FourCal' object has no attribute 'first'

에러 이유 : first의 값이 없기 때문에 오류가 뜬다.

            cal1은 새로운 객체이기 때문에 데이터가 없기 때문.

In [184]:
cal1.setdata(10, 20)

In [185]:
cal1.subtract()

-10

### 초기화함수, 생성자

In [186]:
class FourCal:
    # 초기화, 생성자(constructor)
    def __init__(self, a, b):   # 언더바 사이에 있는 것은 초기화 시키는 역할
        self.first = a
        self.second = b 
        
    def add(self):
        self.result = self.first + self.second
        return self.result
    
    def subtract(self):
        self.result = self.first - self.second
        return self.result

In [190]:
cal2 = FourCal()

TypeError: FourCal.__init__() missing 2 required positional arguments: 'a' and 'b'

에러 이유 : init는 무조건 실행되는 함수이기 때문이다.

In [191]:
cal2 = FourCal(1, 2)

In [192]:
cal2.add()

3

In [193]:
cal3 = FourCal(10, 20)
cal3.subtract()

-10

### 상속
- inheritance

In [199]:
class FourCal:

    def __init__(self, a, b): 
        self.first = a
        self.second = b 
        
    def add(self):
        self.result = self.first + self.second
        return self.result
    
    def subtract(self):
        self.result = self.first - self.second
        return self.result
    
    def multiply(self):
        self.result = self.first * self.second
        return self.result
    
    def divide(self):
        self.result = self.first / self.second
        return self.result

In [211]:
class Child(FourCal):            # 위에는 부모 클래스, 밑에는 자식 클래스
    pass

In [207]:
cal = Child(10,20)

In [208]:
cal.add()

30

In [209]:
cal.multiply()

200

In [210]:
cal.divide()

0.5

In [217]:
class Child(FourCal):            
    def power(self):       # 앞에 부모 클래스에는 없던 새로운 것을 추가함.
        self.result = self.first ** self.second
        return self.result

In [218]:
cal = Child(2,3)

In [219]:
cal.add()

5

In [220]:
cal.power()

8

## 매소드 오버라이딩
- overriding 매소드 재정의

In [221]:
cal = Child(1, 0)

In [222]:
cal.add()

1

In [223]:
cal.divide()

ZeroDivisionError: division by zero

0으로 나눴기 때문이다.

In [224]:
class Child(FourCal):            
    def power(self): 
        self.result = self.first ** self.second
        return self.result
             
    def divide(self):
        if self.second != 0:
            self.result = self.first ** self.second
            return self.result
        else:
            print('0으로 나누셨군요.')

In [225]:
cal = Child(1,0)

In [226]:
cal.divide()

0으로 나누셨군요.

## self의 설명

In [228]:
class Calculator():
    def __init__(self, a, b):
        self.first = a
        self.second = b

In [229]:
cal = Calculator(1,2)

In [230]:
cal.first

1

In [231]:
bal = Calculator(10, 20)

In [232]:
bal.first

10